__pycache__/
venv/
.venv/
data/
data/data_format1/
data/data_format2/
*.zip
dashboardData/AprioriRandomForest/model_RandomForest_Loss.joblib
dashboardData/RegresionLogistica/modelo_logistico_con_metricas.pkl